# Default ignored files
/shelf/
/workspace.xml
./.idea/*
# Datasource local storage ignored files
/../../../../../../../../../:\Users\pedro\Desktop\Labenu\Pedro-Vitor\semana2\labetube\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
